.dlaczegoMy {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #363636;
}

.dlaczegoMy > h2 {
    text-align: center;
    font-size: calc(30px + 25 * ((100vw - 300px)/(1000)));
}

.dlaczegoMy .dlaczegoMyInner {
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dlaczegoMy .photo {
    margin: 20px 0;
}

.dlaczegoMy .text {
    height: 350px;
    position: relative;
    width: 20%;
    margin: 20px 50px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dlaczegoMy .text h3, .dlaczegoMy .text p {
    text-align: center;
}

.dlaczegoMy .text h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.dlaczegoMy .text p {
    font-size: 15px;
}

@media(max-width: 700px) {
    .dlaczegoMy .dlaczegoMyInner {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .dlaczegoMy .dlaczegoMyInner .text {
        width: 100% !important;
        height: fit-content;
    }

    .dlaczegoMy .dlaczegoMyInner img {
        width: 70px;
        height: 70px;
    }

    .dlaczegoMy .dlaczegoMyInner .text {
        padding-bottom: 30px;
        border-bottom: 1px solid #75C3DE;
    }

    .dlaczegoMy .dlaczegoMyInner .photo {
        margin-top: 30px;
    }

    .dlaczegoMy .dlaczegoMyInner .text3 {
        border-bottom: none;
    }
}
