footer {
    height: 50px;
    background-color: #d5d5d5;
    color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h6 {
    margin: 0 5px;
    text-align: center;
}

footer a {
    color: #75C3DE;
}

@media(max-width: 500px) {
    footer {
        justify-content: space-evenly;
    }

    footer h6 {
        margin: 0;
    }

    footer .middle {
        border-left: 1px solid #363636;
        border-right: 1px solid #363636;
        padding: 0 10px;
    }
}
