@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'sans-serif';
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

button {
    outline: none;
    border: none;
}

.blue {
    color: #75C3DE;
}

.bold {
    font-weight: 900;
}

.white {
    color: #ffffff;
}

.checked {
    width: 70%;
    height: 70%;
    background-color: #75C3DE !important;
    border-radius: 50%;
}

.checkedPolityka {
    width: 70%;
    height: 70%;
    background-color: #75C3DE !important;
}

label {
    cursor: pointer;
}

.redBorder {
    border-color: #ff0800 !important;
}

.grecaptcha-badge {
    width: 70px !important;
    overflow: hidden !important;
    transition: all 0.3s ease !important;
    left: 4px !important;
    z-index: 9999 !important;
}

.grecaptcha-badge:hover {
    width: 256px !important;
}

.mobileOnly {
    display: none;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@media(max-width: 700px) {
    .mobileOnly {
        display: block;
    }

    .desktopOnly {
        display: none !important;
    }
}

/* Modal transition */

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
    background: rgba(0,0,0,.75) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
}

/* Temporary */

.tmp {
    height: 100vh;
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.tmp h1 {
    text-align: center;
}

@media(max-width: 700px) {
    .tmp h1 {
        font-size: 14px;
    }
}

/* TINDER CARDS */

.swipe {
    position: absolute;
}

.cardContainer {
    width: 90vw;
    height: 200px;
}

.card {
    position: relative;
    background-size: cover;
    background-position: center;
}

.cardContent {
    width: 100%;
    height: 100%;
}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
}

/* Popup button */

.rightDownBtn {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 100000;
    cursor: pointer;
}

.rightDownBtn h5 {
    text-align: center;
    color: white;
    position: absolute;
    font-size: 13px;
    left: 95px;
    top: 40px;
    transform: translate(-50%, -50%);
    font-weight: 100 !important;
}

.rightDownBtn .info {
    width: 200px;
    height: 80px;
}

.rightDownBtn .telefon {
    width: 80px;
    height: 80px;
}

@media(max-width: 700px) {
    .rightDownBtn {
        right: 10px;
        bottom: 10px;
    }

    .rightDownBtn .telefon {
        width: 60px;
        height: 60px;
    }
}
