@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'sans-serif';
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.blue {
    color: #75C3DE;
}

.bold {
    font-weight: 900;
}

.checked {
    width: 70%;
    height: 70%;
    background-color: #75C3DE !important;
    border-radius: 50%;
}

.checkedPolityka {
    width: 70%;
    height: 70%;
    background-color: #75C3DE !important;
}

label {
    cursor: pointer;
}

.redBorder {
    border-color: #ff0800 !important;
}

.grecaptcha-badge {
    visibility: hidden !important;
}

.mobileOnly {
    display: none;
}

@media(max-width: 700px) {
    .mobileOnly {
        display: block;
    }

    .desktopOnly {
        display: none !important;
    }
}

/* Modal transition */

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
    background: rgba(0,0,0,.75) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
}

/* Temporary */

.tmp {
    height: 100vh;
    background-color: #363636;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.tmp h1 {
    text-align: center;
}

@media(max-width: 700px) {
    .tmp h1 {
        font-size: 14px;
    }
}
