.kontakt {
    margin-top: 50px;
    color: #363636;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kontakt h2 {
    text-align: center;
    font-size: calc(30px + 25 * ((100vw - 300px)/(1000)));
    font-weight: 100;
    text-transform: uppercase;
}

.kontakt h3 {
    font-weight: 100;
    font-size: calc(13px + 20 * ((100vw - 300px)/(1000)));
    text-align: center;
    margin-top: 10px;
}

.kontakt form {
    margin: 40px 0;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.kontakt form .row {
    display: flex;
    width: fit-content;
    align-self: center;
}

.kontakt form label:not(.msgLabel), .uslugiMenu label {
    display: flex;
    margin: 10px 1vw;
    height: 25px;
    width: fit-content;
    font-weight: 900;
    align-items: center;
    font-size: calc(12px + 8 * ((100vw - 700px)/(1000)));
    position: relative;
    z-index: 10;
    background-color: transparent;
}

.kontakt .msgLabel {
    display: flex;
    justify-content: center;
}

.kontakt form label button, .uslugiMenu label button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #363636;
    margin: 0 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: content-box;
    padding: 3px;
}

.uslugiMenu label button {
    border-radius: 4px !important;
}

.kontakt .row button {
    border-radius: 6px;
}

.kontakt form textarea {
    width: 60vw;
    height: 200px;
    resize: none;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    background-color: #f2f2f2;
    border: 3px solid #d5d5d5;
    font-size: 1.2em;
    color: #363636;
    align-self: center;
}

.kontakt form .usluga {
    display: flex;
    justify-self: flex-start;
    margin-left: 10vw;
}

.kontakt form .usluga h4 {
    display: flex;
    align-items: center;
}

.kontakt form .politykaPrywatnosci {
    margin-left: 9vw;
    font-size: 12px;
    font-weight: 100;
}

.kontakt form .politykaPrywatnosci button, .phoneForm #politykaModal button {
    border-radius: 2px;
    width: 18px;
    height: 18px;
    border-width: 1px;
}

.kontakt form button[type="submit"], .phoneForm button[type="submit"] {
    width: 20vw;
    height: 50px;
    border-radius: 10px;
    background-color: #75C3DE;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
}

.kontakt form button[type="submit"] {
    margin: 10px 0 0 10vw;
    cursor: pointer;
}

.kontakt form button[type="submit"]:hover {
    background-color: #2F8BAA;
}

.kontakt form .inputy {
    margin: 20px 0 0 -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontakt form .inputy input {
    background-color: #f2f2f2;
    height: 40px;
    outline: none;
    border: 3px solid #d5d5d5;
    border-radius: 5px;
    margin: 0 10px;
    padding: 3px;
}

.kontakt form .recaptchaText {
    margin-left: 10vw;
    font-size: 12px;
    color: #d5d5d5;
}

.kontakt form .usluga button {
    background-clip: content-box;
    padding: 3px;
}

/* Modal */

.formSend, .uslugiMenu {
    position: relative;
    z-index: 10000 !important;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, .5) !important;
    display: flex;
    justify-content: center;
}

.ReactModal__Content {
    position: relative !important;
    z-index: 10000 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.formSend .ReactModal__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10000 !important;
    width: 40vw;
    height: 500px;
}

.formSend .modalExit {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.formSend .modalInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formSend .modalInner h2, .formSend .modalInner h3 {
    text-align: center;
}

.formSend .modalInner h3 {
    font-weight: 100;
    font-size: 15px;
    margin: 30px 0;
}

.formSend .modalInner img {
    margin: 20px 0;
}

.phoneForm .ReactModal__Content {
    height: 500px !important;
    border-radius: 30px !important;
}

.phoneForm .x {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.phoneForm .telefon {
    width: 100px;
    height: 100px;
}

.phoneForm h3 {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
}

.phoneForm form {
    display: flex;
    flex-direction: column;
}

.phoneForm input {
    height: 40px;
    padding: 3px 8px;
    background-color: #f2f2f2;
    border: 2px solid #d5d5d5;
    border-radius: 10px;
    outline: none;
    margin: 10px 0;
}

.phoneForm button[type="submit"] {
    align-self: center;
}

.phoneForm #politykaModal {
    font-size: 12px;
    margin: 10px 0;
}

.phoneForm form > #politykaModal {
    display: flex;
    align-items: center;
}

.phoneForm form #politykaModal > button {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d5d5d5;
    background-clip: content-box;
    padding: 2px;
}

@media(max-height: 600px) {
    .phoneForm .ReactModal__Content {
        height: 400px !important;
    }

    .phoneForm .telefon {
        width: 75px;
        height: 75px;
    }

    .phoneForm form button[type="submit"] {
        height: 30px;
    }

    .phoneForm form > * {
        margin: 5px 0;
    }

    .phoneForm .x {
        right: 5px;
        top: 5px;
    }
}

@media(max-width: 900px) {
    .phoneForm button[type="submit"] {
        width: 150px;
        font-size: 14px;
    }
}

@media(max-width: 700px) {
    .formSend .ReactModal__Content {
        height: 300px;
        width: 85vw;
    }

    .formSend .ReactModal__Content .okejka {
        width: 150px;
        height: 120px;
    }

    .uslugiBtn {
        position: relative;
        width: 70vw;
        height: 60px;
        border-radius: 10px;
        background-color: #f2f2f2;
        overflow: hidden;
        display: flex;
        align-self: center;
        justify-content: center;
        border: 2px solid #d5d5d5;
        padding: 0 15%;
    }

    .uslugiBtn h3 {
        font-weight: 900;
    }

    .blueArea {
        position: absolute;
        bottom: -15px;
        right: -15px;
        background-color: #75C3DE;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
    }

    .inputy {
        flex-direction: column;
    }

    .inputy > * {
        margin: 12px 0;
    }

    .uslugiMenu::-webkit-scrollbar {
        display: none !important;
    }

    .uslugiMenu .ReactModal__Content::-webkit-scrollbar {
        display: none !important;
    }

    .uslugiMenu .ReactModal__Content {
        width: 80vw;
        padding: 0 !important;
        height: 80vh !important;
    }

    .uslugiMenu label {
        border-bottom: 1px solid #d5d5d5;
        width: 98% !important;
        height: 60px !important;
        font-size: 15px;
    }

    .uslugiMenu label button {
        width: 15px;
        height: 15px;
        border-width: 1px;
        margin: 0 15px 0 10px;
        background-clip: content-box;
        padding: 2px;
    }

    .usluga {
        flex-wrap: wrap;
    }

    .usluga h4 {
        width: 100%;
    }

    .usluga label {
        font-size: 12px !important;
        cursor: pointer;
    }

    .usluga label button {
        width: 15px !important;
        height: 15px !important;
        border-width: 1px !important;
        cursor: pointer;
    }

    .usluga label button div {
        cursor: pointer;
    }

    .kontakt button[type="submit"] {
        width: 200px !important;
    }

    .kontakt form .inputy {
        margin-left: 0 !important;
    }

    .kontakt form textarea {
        width: 75vw;
    }

    .phoneForm h3 {
        font-size: 13px;
    }
}

@media(max-height: 600px) {
    .formSend .ReactModal__Content {
        height: 80vh;
    }

    .formSend .ReactModal__Content .okejka {
        width: 100px;
        height: 80px;
    }
}
